


#external-style {
	color: #fae0e4;
}


* {
	font-family: "Calibri", monospace;
	font-size: 20px;
}


h1 {
	font-size: 2rem;
	color: #00b4d8;
}

#header2 {
	text-transform: uppercase;
	color: #caf0f8;
}

.languages-learn {
	background-color: #001845;
	color: #caf0f8;
}


.tools-use {
	border: 1px solid white;
	color: white;
}


img + ul {
	list-style-type: none;
}


section img {
	height: 8%;
	width: 8%;
}

h4 ~ p {
	text-align: center;
	color: #abff4f;
}


section > h4 {
	letter-spacing: 10px;
	color: #03045e;
	background-color: #0096c7;
}


body {
	background-color: black;
}

h3 {
	color: #03045e;
	background-color: #0096c7;
}

#js {
	color: #faa307;
}